<h2>The Dispatch project</h2>
<br>
	<div id="myCarousel" class="carousel slide">

	    <div class="carousel-inner">
	      <div class="item">
	      	<%= image_tag("sneakernet.png", :style => "display: block; margin-left: auto; margin-right: auto;display: block; ") %>
	        <div class="carousel-caption">
	          <h4>Speak up</h4>
	          <p>We are building a sneaker net, to allow people to avoit censorship, from internet restrictions to device confiscation.</p>
	        </div>
	      </div>
	      <div class="item">
	      	<%= image_tag("SecureCom.png", :style => "display: block; margin-left: auto; margin-right: auto;display: block; ") %>
	        <div class="carousel-caption">
	          <h4>Secure Source-Journalist communication</h4>
	          <p>Dispatch offers secured communications between sources and journalists. In addition to help with source protection, it gives trusted virtual identities to journalists to be recognized, and to sources to build trust.</p>
	        </div>
	      </div>
	      <div class="item">
	      	<%= image_tag("publish.png", :style => "display: block; margin-left: auto; margin-right: auto;display: block; ") %>
	        <div class="carousel-caption">
	          <h4>Publish</h4>
	          <p>From Dispatch, you can publish on different media platforms, directly or after an editotial selection.</p>
	        </div>
	      </div>
	      <div class="item active">
	      	<%= image_tag("time.jpg", :style => "display: block; margin-left: auto; margin-right: auto;display: block; ") %>
	        <div class="carousel-caption">
	          <h4>What is dispatch?</h4>
	          <p>Dispatch is a publishing tool for citizen journalists in conflict areas.</p>
	        </div>
	      </div>
	    </div>
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
