<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>The Project</h2>
     <p>Dispatch is a publishing tool for citizen journalists in conflict areas, with an emphasis on usability and security.</p>
    <p><a class="btn btn-primary" href="/dispatch/home/project">Learn more &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Progress</h2>
     <p>Here we present our milestones and the progress of our project with a summary of the results.</p>
    <p><a class="btn btn-info" href="/dispatch/home/progress">Learn more &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>The Team</h2>
    <p>We are a mixed team of Journalists and CS students and faculty, from Stanford and Columbia Universities.</p>
    <p><a class="btn btn-success" href="/dispatch/home/team">Learn more &raquo;</a></p>
  </div>
</div>
