<h2>Project progress</h2>

<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Milestone</th>
	    <th>Description</th>
	    <th>Progress</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>September</td>
	    <td>Milestone 0: application for secure communications on Android & iPhone (Musubi)</td>
	    <td>Android on the Android Market, iOS version being built</td>
	  </tr>
	  <tr>
	    <td>November</td>
	    <td>Test secure communication between student reporters and publication on Tumblr on election night</td>
	    <td>TODO</td>
	  </tr>
	  <tr>
	    <td>February</td>
	    <td>Identify news agencies for a field test</td>
	    <td>TODO</td>
	  </tr>
	  <tr>
	    <td>June</td>
	    <td>Sneakernet: disconnection resistance on Android</td>
	    <td>TODO</td>
	  </tr>
	  <tr>
	    <td>June-Sept.</td>
	    <td>Field tests with news agencies</td>
	    <td>TODO</td>
	  </tr>
	</tbody>
	</table>
