<div class="hero-unit">
	<h2>Brown Institute</h2>
	<p>Learn more about the Brown Institute for Media Innovation <%= link_to "here", 'http://brown.stanford.edu/full/index.html'%>. <br><br> </p>

	<h2>Magic Grant</h2>
	<p>Every year, the Brown Institute supports a few projects for Media innovation through the <%= link_to "Magic Grant", 'http://brown.stanford.edu/full/magic_grants.html'%>.</p>
</div>
