<div class="hero-unit">
	<h1>Dispatch News</h1> <br /><br />
	<h2>Dispatch at the ONA12 Midway</h2>
	<p>The Dispatch team attended the <%= link_to "2012 Online News Association Conference", 'http://ona12.journalists.org'%> in San Francisco to kick off the project, as well as learn from and network with attending journalists.</p>
	<p>More information is available <%= link_to "here", 'http://themidway.tumblr.com/post/31991527851/dispatch-offers-secure-mobile-publishing'%>. <br><br> </p>
</div>
